$media-query: (
        fourk,
        (
            min-width: 2560px,
        )
    ),
    (
        twok,
        (
            min-width: 1920px,
        )
    ),
    (
        Desktops,
        (
                min-width: 1366px,
            )
            // and
        // (
        //     max-width: 1200px,
        // )
    ),
    (
        laptops,
        (
                min-width: 1224px,
            )
            // and (
        //     max-width: 480px,
        // )
    ),
    (
        tablet,
        (
                min-width: 768px,
            )
            and
            (
                max-width: 1024px,
            )
    ),
    (
        mobile,
        (
                min-width: 320px,
            )
            and
            (
                max-width: 480px,
            )
    );

@font-face {
    font-family: Nunito-Bold;
    src: url("../../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
    font-family: Nunito-Semibold;
    src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}
@font-face {
    font-family: Nunito-Regular;
    src: url("../../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
    font-family: Nunito-Light;
    src: url("../../assets/fonts/Nunito-Light.ttf");
}

$base-color: #e9e9e9;
$dark-primary-color: #384170;
$primary-color: #424d83;
$secondary-color: #a1b0fc;
$light-secondary-color: #f7f8ff;
