@mixin fontBold {
    font-family: Nunito-Bold;
    font-size: 14px;
}

@mixin row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@include breakpoint(mobile) {
    .header-section {
        width: 100%;
        // padding: 0 5%;
        &-heroBG {
            position: absolute;
            top: -220px;
            z-index: -1 !important;
            height: 50em;
            object-fit: cover;
            width: 100%;
        }

        .header {
            @include row();
            justify-content: space-around;
            // position: relative;
            // width: 100%;
            padding: 5%;
            &-burger {
                margin-right: -30px;
                z-index: 3;
            }
            &-burgerOpen {
                z-index: 2;
                position: absolute;
                background-color: $secondary-color;
                width: 100%;
                // height: 100%;
                padding: 50px;
                border-radius: 0 0 25px 25px;
                ul {
                    height: 500px;
                    padding-top: 300px;
                    // padding-bottom: 50px;
                    li {
                        list-style: none;
                        padding: 10px 0;
                        a {
                            color: white;
                            font-family: Nunito-Bold;
                            font-size: 16px;
                            text-decoration: none;
                        }
                    }
                    li:nth-child(3) {
                        margin-bottom: 20px;
                    }
                }
                hr {
                    height: 1px;
                    background-color: $base-color;
                    border: none;
                }
                p {
                    margin-top: 20px;
                    color: white;
                    font-family: Nunito-Regular;
                    font-size: 12px;
                }
            }
            .header-title {
                position: relative;
                // top: -45px;
                left: -10px;
                // top: -25px;
                &-logo {
                    img {
                        height: 30px;
                    }
                }
            }

            .header-container {
                display: none;
            }
        }
    }
}
@include breakpoint(tablet) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .header-section {
        // width: 10%;
        // margin-left: 10%;
        // padding: 0 10%;
        &-heroBG {
            position: absolute;
            top: -220px;
            z-index: -1 !important;
            height: 50em;
            object-fit: cover;
            width: 100%;
        }

        .header {
            @include row();
            justify-content: space-around;
            position: relative;
            padding: 0 10%;
            &-burger {
                display: none;
            }
            &-burgerOpen {
                display: none;
            }
            .header-title {
                position: relative;
                // top: -45px;
                top: -25px;
                &-logo {
                    img {
                        height: 20px;
                    }
                }
            }

            .header-container {
                @include row();
                position: relative;
                top: -100px;
                height: 150px;
                &-title {
                    list-style: none;
                    margin: 0 10px;
                    &-btn {
                        background-color: transparent;
                        border: none;
                        padding-right: 25px;
                        position: relative;
                        bottom: -25px;
                        &-txt {
                            @include fontBold();
                            color: $base-color;
                            text-decoration: none;
                            text-align: center;
                        }
                    }
                }

                &-title:hover {
                    background-clip: border-box;
                    background-color: $secondary-color;
                    // padding: 70px 0 60px 0;
                    padding: 70px 0 80px 0;
                    border-radius: 0 0 5px 5px;
                }

                button {
                    font-size: 12px;
                    margin-left: 30px;
                    position: relative;
                    // top: 50px;
                    top: 70px;
                }
            }
        }
    }
}
@include breakpoint(laptops) {
    .header-section {
        width: 100%;
        // padding: 0 5%;
        &-heroBG {
            position: absolute;
            top: -220px;
            z-index: -1 !important;
            height: 50em;
            object-fit: cover;
            width: 100%;
        }

        .header {
            @include row();
            justify-content: space-around;
            position: relative;
            // padding: 0 5%;
            &-burger {
                display: none;
            }
            &-burgerOpen {
                display: none;
            }
            .header-title {
                position: relative;
                // top: -45px;
                top: -25px;
                &-logo {
                    img {
                        height: 20px;
                    }
                }
            }

            .header-container {
                @include row();
                position: relative;
                top: -100px;
                height: 150px;
                &-title {
                    list-style: none;
                    margin: 0 10px;
                    &-btn {
                        background-color: transparent;
                        border: none;
                        padding-right: 25px;
                        position: relative;
                        bottom: -25px;
                        &-txt {
                            @include fontBold();
                            color: $base-color;
                            text-decoration: none;
                            text-align: center;
                        }
                    }
                }

                &-title:hover {
                    background-clip: border-box;
                    background-color: $secondary-color;
                    // padding: 70px 0 60px 0;
                    padding: 70px 0 80px 0;
                    border-radius: 0 0 5px 5px;
                }

                button {
                    font-size: 12px;
                    margin-left: 30px;
                    position: relative;
                    // top: 50px;
                    top: 70px;
                }
            }
        }
    }
}
